body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR & BANNER */
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://raw.githubusercontent.com/tmnguyen8/portfolio/master/assets/images/img2.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    width: 100%;
    background-color: rgba(80, 80, 80, 0.5);
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
li {
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: flex;
    margin: 0 10px;
}
a {
    z-index: 1;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 5px;
}
li:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: rgb(6,96,149);
    right: 0;
    z-index: 0;
    top:33.33%;
    transition: all 0.5s;
}
li:after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: rgb(6,96,149);
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
} 
a:before {
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: rgb(6,96,149);
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
}
li:hover:before, li:hover:after, li:hover a:before{
    width: 100%;

}
.slogan {
    position: absolute;
    top: 40%;
    left: 12%;
    color: white;
    font-size: 4vw;
}
/* NAVBAR & BANNER END */
/* ********************************************************* */
.section-title {
    padding: 20px;
}

/* ABOUT */
#about-section {
    height: 400px;
    color: black;
    background-color: rgb(224,248,254);
}
.about-container {
    margin: 30px 100px;
    color: black;
    background: transparent;
}

/* ABOUT END */
/* ********************************************************* */
/* PORTFOLIO */
#portfolio-section {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://raw.githubusercontent.com/tmnguyen8/portfolio/master/assets/images/img1.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.portfolio-container {
    margin: 30px 100px;
    color: white;
    background: transparent;
    height: 80%;

}

/* academic container */
.academic-container {
    border: 5px solid rgb(0, 255, 242);
    background: transparent;
    text-align: center;
    max-height: auto;
}
.project-title {
    font-size: 2vm;
    margin-bottom: 10%;
}
/* expanded menu styling */
.circle {
    background: rgb(224,248,254);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 242);
    position: absolute;
    left: 140px; 
    top: 50px;
    cursor: pointer;
    z-index: 1;
}
.academic-img {
     width: 150px;
     height: 150px;
     color: white;
     padding-top: 20px;
     transition: 1s;
 }
.menu {
    z-index: -1;
    transform: scale(0.9);
}
.item {
    background: rgb(224,248,254);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top: 25px;
    transition: 1s;
    cursor: pointer;
}
.item-link {
    position: relative;
    top: 30px;
}
/* PORTFOLIO END */
/* ********************************************************* */
/* CONTACT */
#contact-section {
    height: 700px;
    color: black;
    background-color: rgb(224,248,254);
}
.contact-container {
    color: black;
    background-color: rgb(224,248,254);
    text-align:center;
}
.wrapper {
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto; 
  }
.form {
    background: #EBEBEB;
    text-align: center; 
    box-shadow: 0px 0px 20px 5px #AAA; 
    border-radius: 10px;  
    width: 45%; 
    height: 400px;
    margin: 30px auto 0 auto;
    padding: 10px 10px;  
    animation: bounce 1.5s infinite;
  }

.name { 
    background-color: rgb(2, 196, 255);
    border-bottom: 5px solid rgb(2, 196, 255);
    color: white;
    width:300px;
  }

  ::-webkit-input-placeholder{
      color: white;
      font-size: 20px;
  }
  .name:hover{
    background-color: rgb(0, 252, 252);
    border-bottom: 5px solid rgb(0, 252, 252);
    height:30px;
    width:400px;
  }

  .email {
    background-color: rgb(2, 196, 255);  
    border-bottom: 5px solid rgb(2, 196, 255);
    height:50px;
    width:300px;
    
  }
  .email:hover{
    background-color: rgb(0, 252, 252);  
    border-bottom: 5px solid rgb(0, 252, 252);
    height:30px;
    width:380px;
   
  }
  .message {   
    background-color: rgb(2, 196, 255);
    border-bottom: 5px solid rgb(2, 196, 255);
    overflow: hidden;
    height: 100px;  
    width:300px;
  }

  .message:hover{
    background-color: rgb(0, 252, 252);
    border-bottom: 5px solid rgb(0, 252, 252);
    height: 100px;
    width:370px;
  }

  .submit{
    border-radius:5px;
    padding:10px;
    background-color: rgb(0, 255, 149);  
    border: none;
    border-bottom: 5px solid rgb(0, 255, 149); 
    transform: translateY(-120px); 

  }

  .submit:hover{
    border-bottom: 5px solid rgb(255, 196, 0);  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }
 /* Shadow to make it look like form is floating  */
 .shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
  }
.submit{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: rgb(167, 238, 120);  
    border: none;
    border-bottom: 5px solid rgb(167, 238, 120); 
    margin-top: 150px; 

  }

/* FOOTER */
.page-footer {
    width: 100%;
    background-color: rgb(224,248,254);
    position: absolute;
}

/* MEDIA SCREEN SIZE */


@media only screen and (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .academic-container {
        width: 100%;
        border: none;
    }
    .circle {
        top: 17%;
        left: 10%;
    }
    .item {
        bottom: 0;
        left: 16%;
    }
    .wrapper {
        width: 100%; 
    }
    .entry {
        width: 100%;
    }
 }

@media only screen and (min-width: 481px) {
    .circle {
        top: 75px;
        left: 40px;
    }
    .item {
        top: 25px;
        left: 49px;
    }
    .wrapper {
        width: 100%;
    }
    .entry {
        width: 100%;
    }
 }

@media only screen and (min-width: 768px) {
    /* styles for browsers larger than 960px; */

    .circle {
        top: 17%;
        left: 35%;
    }
    .item {
        bottom: 0;
        left: 38%;
    }
    .wrapper {
        width: 100%; 
    }
    .entry {
        width: 100%;
    }
}
@media only screen and (min-width: 980px) {
    /* styles for browsers larger than 960px; */

    .circle {
        top: 17%;
        left: 35%;
    }
    .item {
        bottom: 0;
        left: 38%;
    }
    .wrapper {
        width: 100%; 
    }
    .entry {
        width: 100%;
    }
}
@media only screen and (min-width: 1100px) {
    /* styles for browsers larger than 960px; */

    .circle {
        top: 100px;
        left: 35%;
    }
    .item {
        top: 30px;
        left: 38%;
    }
    .wrapper {
        width: 100%; 
    }
    .entry {
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 960px; */

    .circle {
        top: 100px;
        left: 75px;
    }
    .item {
        top: 30px;
        left: 85px;
    }
    .wrapper {
        width: 100%; 
    }
    .entry {
        width: 100%;
    }
}
@media only screen and (min-width: 1300px) {
    /* styles for browsers larger than 960px; */

    .circle {
        top: 100px;
        left: 75px;
    }
    .item {
        top: 60px;
        left: 85px;
    }
    .wrapper {
        width: 100%; 
    }
    .entry {
        width: 100%;
    }
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .circle {
        top: 15%;
        left: 25%;
    }
    .item {
        bottom: 0;
        left: 30%;
    }
}
@media only screen and (min-width: 1600px) {
    /* styles for browsers larger than 1440px; */
    .circle {
        top: 100px;
        left: 140px;
    }
    .item {
        bottom: 0;
        left: 150px;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    .circle {
        top: 100px;
        left: 200px
    }
    .item {
        top: 40px;
        left: 210px;
    }
}
@media only screen and (min-width: 2300px) {
    /* for sumo sized (mac) screens */
    .circle {
        top: 100px;
        left: 325px;
    }
    .item {
        top: 15px;
        left: 335px;
    }
}
