body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://raw.githubusercontent.com/tmnguyen8/portfolio/master/assets/images/img2.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar {
    width: 100%;
    background-color: rgba(80, 80, 80, 0.5);
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
li {
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: flex;
    margin: 0 10px;
}
a {
    z-index: 1;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 5px;
}
li:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: rgb(6,96,149);
    right: 0;
    z-index: 0;
    top:33.33%;
    transition: all 0.5s;
}
li:after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: rgb(6,96,149);
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
} 
a:before {
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: rgb(6,96,149);
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
}
li:hover:before, li:hover:after, li:hover a:before{
    width: 100%;

}
.slogan {
    position: relative;
    top: 45%;
    left: 12%;
    color: white;
    font-size: 4vw;
}
#about-section {
    height: 400px;
    color: black;
    background-color: rgb(228,228,228);
}

#portfolio-section {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://raw.githubusercontent.com/tmnguyen8/portfolio/master/assets/images/img1.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#contact-section {
    height: 400px;
    color: black;
    background-color: rgb(228,228,228);
}
.section-title {
    position: relative;
    top: 10%;
}
.page-footer {
    width: 100%;
    background-color: rgb(228,228,228);
}

/* // Box shadow helper */
/* @mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }
}
a {
    transition: .25s all;
}
.card {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: .25s box-shadow;
  &:focus,
  &:hover {@include BoxShadowHelper(2)}
}

.card-inverse .card-img-overlay {
  background-color: rgba(56, 56, 56, 0.85);
  border-color: rgba(56, 56, 56, 0.85);
}
.card-block {
    color: black;
}
.card {
    border: 1px solid rgb(228,228,228);
    background-color: rgba(228,228,228, 0.1);
} */
.academic-container {
    border: 1px solid rgb(0, 255, 242);
    background: transparent;
    text-align: center;
    max-height: 500px;
    margin-top: 40px;
}
/* expanded menu styling */
.circle {
    background: rgb(224,248,254);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 242);
    position: absolute;
    /* justify-content: center; */
    /* left: 5%; */
    /* bottom: 0%; */
    cursor: pointer;
    z-index: 1;
}
 .academic-img {
     width: 150px;
     height: 150px;
     color: white;
     position: relative;
     top: 15px;
     left: 6px;
     transition: 1s;
 }
 .menu {
    z-index: -1;
    transform: scale(0.9);
}
.item {
    background: rgb(224,248,254);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top: 25px;
    transition: 1s;
    cursor: pointer;
}
/* a>.material-icons {
    color: #d2d2d2;
    font-size: 60px;
}
a{
    position: relative;
    top: 40px;
    left: 10px;
}
a>.material-icons:hover {
    color: #f9d230;
    transform: scale(1.3);
} */